@model ProductViewModel
@using TestOnion.Models

<form asp-action="AddProduct" role="form">
    <div class="modal-body form-horizontal">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label asp-for="ProductName" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ProductName" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CompanyId" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="CompanyId" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="Price" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProductDescription" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ProductDescription" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProductNumber" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="ProductNumber" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="col-lg-3 col-sm-3 control-label"></label>
                    <div class="col-lg-6">
                        <input asp-for="CategoryId" class="form-control" />
                    </div>
                </div>
                <input type="submit" value="Создать" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
</form>
