@model CartViewModel
@using TestOnion.Models

<form asp-action="EditCart" role="form">

    <div class="modal-body form-horizontal">
        <div class="row">
            <input asp-for="Id" />
            <div class="form-group">
                <label asp-for="Count" class="col-lg-3 col-sm-3 control-label"></label>
                <div class="col-lg-6">
                    <input asp-for="Count" class="form-control" />
                </div>
            </div>
            <input type="submit" value="Создать" class="btn btn-outline-dark" />
        </div>
    </div>
</form>
